**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jelly
**/azuresettings.json
**/bin
**/obj
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/Secrets
**/secrets.dev.yaml
**/values.dev.yaml